@import "../../styles/colors.scss";

.container {
    height: 50px;
    border: none;
    margin: 0;
    background-color: $fire-opal;
    border-radius: 5px;
    color: white;
    font-weight: 900;
    font-size: 2.5rem;

    .secondary {
        background-color: transparent;
        color: $fire-opal;
        border-bottom: 4px solid $naples-yellow;
        .disabled {
            color: $fire-opal-50;
            border-color: $fire-opal-50;
        }
    }

    .disabled {
        background-color: $fire-opal-50;
    }
}
