@import "../styles/colors.scss";
@import "../styles/typography.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .nav {
    cursor: pointer;
    padding: 1.2rem 0;
    .title {
      color: $fire-opal;
      text-align: center;
    }
    border-bottom: 1px solid $davys-gray;
  }

  .container {
    padding-top: 1.2rem;
    padding-bottom: 100px;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;
  }

  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 1em 0;
    font-size: 0.8rem;
    span {
      color: $fire-opal;
    }
  }
}
