@import "../styles/colors.scss";
@import "../styles/typography.scss";

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .nav {
    padding: 1.2rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background: $backdrop-dark;
    .title {
      cursor: pointer;
      color: $fire-opal;
      text-align: center;
    }
    border-bottom: 1px solid $davys-gray;
  }

  .container {
    flex: 10;
    padding-top: 1.2rem;
    margin: 0 auto;
    width: 90%;
    max-width: 800px;

    .fullWidth {
      width: 100%;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 1em 0;
    font-size: 0.8rem;
    span {
      color: $fire-opal;
    }
  }
}
