@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

.container {
  height: 89vh;
  overflow-y: scroll;
  scrollbar-color: black;
  scroll-snap-type: y mandatory;
  &::-webkit-scrollbar {
    display: none;
  }

  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .section {
    scroll-snap-align: center;
    height: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding-bottom: 100px;
    .horizontalMargins {
      width: 90%;
      margin: 0 auto;
      display: flex;
      height: 80%;
      flex-direction: column;
      justify-content: center;
      gap: 10px;

      .sectionMain {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      @media (min-width: 800px) {
        flex-direction: row;
        .sectionMain {
          flex: 2;
          justify-content: center;
        }
        ul {
          flex: 3;
          align-self: center;
        }
      }
    }
    .subText {
      font-size: 3vmin;
    }
    .title {
      font-size: 15vmin;
    }
    .name {
      font-size: 5vmin;
    }
    .duration {
      font-size: 0.8rem;
      text-align: center;
    }
    .companyLogo {
      width: fit-content;
      margin: 0 auto;
    }
    .companyName {
      font-size: 1.2rem;
      text-align: center;
      span {
        color: $fire-opal;
      }
    }
    .role {
      font-size: 1.5rem;
      text-align: center;
    }
    .stuffIDid {
      font-size: 1rem;
      @media (max-width: 400px) {
        font-size: 0.6rem;
      }
    }
    strong {
      margin-top: 10px;
    }
    .scrollIcon {
      position: absolute;
      bottom: 50px;
      right: 50px;
      font-size: 1rem;
      width: 100%;
      transform: rotate(180deg);
      animation: jumpUpDown 1s infinite ease-in-out;
    }
  }
  .hireMeBtn {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 40%;
    bottom: 70px;
    left: 0;
    right: 0;
    z-index: 100;
    &:hover {
      opacity: 0.8;
    }
  }
}

@keyframes jumpUpDown {
  0% {
    bottom: 70px;
  }
  50% {
    bottom: 90px;
  }
  100% {
    bottom: 70px;
  }
}
