@import "../../styles/colors.scss";

.author {
  color: $davys-gray;
}
.content {
  img {
    max-width: 100%;
  }
  .block-img {
    text-align: center;
  }
}
.tagContainer {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.title {
  font-size: 2rem;
}

.codepen {
  margin: 50px 0;
}

.embd {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 24px;
  margin-bottom: 24px;
}