@import "../../styles/typography.scss";
@import "../../styles/colors.scss";

.container {
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  transition: all 500ms ease-in;
  border-bottom: 1px solid $davys-gray;
  &:hover {
    border-bottom: 1px solid $fire-opal;
    .title {
      color: $fire-opal;
    }
  }

  .stackImage {
    flex: 1;
    margin-right: 10px;
  }

  .textContainer {
    flex: 5;
    display: flex;
    flex-direction: column;
    max-width: 95%;

    .title {
      @include title();
    }

    .tag {
      width: max-content;
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      flex-wrap: wrap;
      max-width: 90%;
    }

    .description,
    .date {
      @include body();
      font-size: 0.8rem;
    }

    .date {
      color: $davys-gray;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 450px) {
    .stackImage {
      display: none;
    }
  }
}

.container + .container {
  margin-top: 20px;
}
